<ion-view view-title="修改昵称" cache-view=false>
    <ion-content>
        <label class="item item-input" style="width: 96%;margin: 10px auto 0;">
            <span class="input-label" style="width: 45%;">请输入新昵称:</span>
            <input style="padding-right: 5%;color: #BABABA;" type="text" ng-model="nickname">
        </label>

        <a class="btn-green" style="margin: 44px auto;border-radius: 4px;width: 50%;height: 44px;text-align: center;line-height: 44px;font-size: 18px;" ng-click="nicknameSave(nickname)">保存</a>
    </ion-content>
</ion-view>
