<ion-nav-bar class="bar-stable">
  <ion-nav-back-button></ion-nav-back-button>
  <!--<button class="button button-clear contact"></button>-->
</ion-nav-bar>
<ion-tabs class="tabs-icon-top tabs-color-active-positive" >
  <ion-tab title="首页" icon-off="iconfont icon-1 " icon-on="iconfont icon-2" href="#/index">
    <ion-nav-view name="tab-dash" ></ion-nav-view>
  </ion-tab>
  <ion-tab title="抢单" icon-off="icon ion-ios-cart-outline" icon-on="icon ion-ios-cart" href="#/grab">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>
  <ion-tab title="我" icon-off="iconfont icon-7" icon-on=" iconfont icon-8" href="#/usercenter">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>

