<ion-view view-title="设置" cache-view="false">
  <ion-content class="account-con">
    <ul class=" user-index">
        <li><a href="javascript:void(0);" ng-click="goUpdatepwd()">修改密码<span class="setup1 buss-setup1"></span> <span>&gt</span></a></li>
        <li>
          <label style="color: #323232;font-size: 16px;line-height: 44.5px;">接单状态</label><span class="setup1 buss-setup3"></span>
          <ion-toggle ng-change="changeStatus(manager)" ng-model="manager" style="position:static;padding: 0; border: 0;"></ion-toggle>
        </li>
    </ul>
  </ion-content>
</ion-view>

