<ion-view view-title="重置密码" cache-view="false">



  <ion-content class="account-con">
<ul class="main-input repassword repassword1">
  <li class="cf">
    <span></span>
    <div>
      <input type="tel" placeholder="请输入手机号" maxlength="11" ng-model="mobileNumber" ng-click="clear_msg()"/>
    </div>
    <a id="sendVerify" href="javascript:void(0);" ng-class="{'btn-green': isBtnGreen,'get-code':true,'btn-gray':isBtnGray}" ng-click="sendVerify(mobileNumber)"
       ng-disabled="noSend">{{msg}}</a>
    <!--<a href="" class="btn-green btn-gray get-code">重新获取(60)</a>-->
  </li>
  <li class="cf">
    <span></span>
    <div>
      <input type="text" placeholder="请输入验证码" ng-model="number"/>
    </div>
  </li>

  <li class="cf">
    <span></span>
    <div>
      <input type="password" placeholder="请输入新密码" ng-model="newpassword"/>
    </div>
  </li>
  <li  class="cf">
    <span></span>
    <div>
      <input type="password" placeholder="请再次确认密码" ng-model="conpassword"/>
    </div>
  </li>

  <li class="cf" ng-show="reg_error">
    <div>{{error_msg}}</div>
  </li>
</ul>
<a class="btn_login btn-green " ng-click="commit(mobileNumber, number, newpassword, conpassword)">提交</a>
  </ion-content>
</ion-view>
