<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!--<ion-tab title="首页" icon-off="on" icon-on="off" href="#/index">-->
    <!--<ion-nav-view name="tab-dash"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="回收车" icon-off="on1" icon-on="off1" href="#/car">-->
    <!--<ion-nav-view name="tab-car"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="消息" icon-off="on2" icon-on="off2" href="#/info">-->
    <!--<ion-nav-view name="tab-info"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--<ion-tab title="我" icon-off="on3" icon-on="off3" href="#/account">-->
    <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
  <!--</ion-tab>-->
  <ion-tab title="首页" icon-off="iconfont icon-1 " icon-on="iconfont icon-2" href="#/index">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="回收车" icon-off="iconfont icon-3" icon-on="iconfont icon-4" href="#/car">
    <ion-nav-view name="tab-car"></ion-nav-view>
  </ion-tab>
  <ion-tab title="消息" icon-off="iconfont icon-5" icon-on="iconfont icon-6" href="#/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>
  <ion-tab title="我" icon-off="iconfont icon-7" icon-on=" iconfont icon-8" href="#/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
